@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root {
  --background: #f9f8f8;
  --foreground: #171717;

  --font-sans: Montserrat, Arial, Helvetica, sans-serif;
  --font-serif: 'Noto Serif', Arial, Helvetica, sans-serif;
  --font-mono: Sen, Arial, Helvetica, sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-serif);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
